doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Birds Of Aotearoa
  link(href='/styles/home.css' rel='stylesheet')
  link(href='/styles/cards.css' rel='stylesheet')
  link(href='/styles/conservation-status.css' rel='stylesheet')
  link(href='/styles/header.css' rel='stylesheet')
  link(href='/styles/form.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans' rel='stylesheet')
  link(href='https://css.gg/home-alt.css' rel='stylesheet')
  link(href='https://css.gg/math-plus.css' rel='stylesheet')
  script(defer, src='/scripts/populate_form.js')
include templates/header.pug
include templates/filter_form.pug
main
  each bird in birds
    include templates/bird_card.pug
include templates/footer.pug
